@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Internet_shop.Models.Magazine

<div>

    <form method="post" action="/Home/BuyConcrect">

        <h3>Make a purchase</h3>
        <h3>You are buying @Model.Name by price - @Model.Price $</h3>
        <img width="200px" height="200px" class="card-img-top" src="@Model.PicturePath" alt="Card image">


        <input type="hidden" value="@Model.Id" name="MagazineID" />
        <br />
        adress<br />
        <input type="text" name="Address" />
        <br />
        count<br />
        <input type="text" name="Count" />
        <br />


        <input type="submit" value="Зробити покупку" />
    </form>

</div>
